.contract-container {
  padding: 20px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contract-title {
  font-size: 1.5rem;
  color: #193152;
  margin-bottom: 35px;
  text-align: center;
}

.contract-item {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contract-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 180px;
  margin: 50px;
  margin-right: 100px;

}

.company-details {
  flex: 1;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.details-grid > div {
  background-color: #efefef
  ;
  padding: 15px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;

}

ul li {
  border-radius: 5px;
}

.signature-section {
  text-align: center;
  margin-top: 20px;
}

.signature {
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;

}

.download-btn {
  display: block;
  margin: 20px auto;
  background-color: #193152;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.download-btn:hover {
  background-color: #4c8ec4;
}
.h4 h5{
  font-size: 1.5rem;
  color: #193152;
  margin-bottom: 20px;}
