/* Styles globaux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
}

/* Cadre global autour du formulaire */
.card {
  margin-top: 80px; /* Augmenter la marge supérieure */
  border: 2px solid #193152; /* Ajout d'un cadre bleu foncé autour du formulaire */
}

/* Style de la zone de formulaire */
form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Couleur de l'en-tête */
h2 {
  color: #193152; /* Bleu foncé */
}

/* Bouton avec couleur bleu clair */
button {
  background-color: #4c8ec4; /* Bleu clair */
  border: none;
  font-size: 16px;
  font-weight: bold;
}

button:disabled {
  background-color: #9bbbd9; /* Couleur plus claire pour bouton désactivé */
}

/* Message de réussite */
.text-success {
  color: #4caf50;
}

/* Message d'erreur */
.text-danger {
  color: #f44336;
}

/* Ajustement pour les écrans plus petits */
@media (max-width: 576px) {
  .col-md-6 {
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }
}
