<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="image-container">
              <img src="../../../assets/img/projects/remodeling-3.jpg" alt="Sample Image">
              <div class="centered-text">Les documents</div>
          </div>
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fa-solid fa-signature"></i> <span routerLink="Moncontrat" class="ms-1 d-none d-sm-inline">Contrat</span>
                  </a>

              </li>
                  <li class="nav-item">
                      <a routerLink="listDevis" class="nav-link align-middle px-0">
                          <i class="fas fa-hand-holding-dollar"></i> <span class="ms-1 d-none d-sm-inline">Devis</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="far fa-file"></i> <span routerLink="listfact" class="ms-1 d-none d-sm-inline">Factures</span>
                      </a>
                  </li>

              </ul>
          </div>
      </div>
      <div class="col py-3">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
