<div class="container mt-4">
  <h2 class="mb-4 text-center text-primary">Réclamations</h2>

  <div class="text-center mt-3">
    <label for="statusFilter" class="form-label fw-bold text-primary">
      <i class="fas fa-filter"></i> Filtrer par statut :
    </label>

    <select id="statusFilter" [(ngModel)]="selectedStatus" class="form-select filter-select" (change)="filterReclamations()">
      <option value="">Toutes</option>
      <option value="PENDING">En attente</option>
      <option value="RESOLVED">Résolues</option>
    </select>
  </div>


  <!-- Affichage des réclamations filtrées -->
  <div *ngFor="let reclamation of filteredReclamations | paginate: { itemsPerPage: 5, currentPage: p }"
       class="card mb-3 shadow-sm border-0 rounded-3">
    <div class="card-body">
      <h5 class="card-title text-secondary">{{ reclamation.objet }}</h5>
      <p class="card-text"><strong>Description :</strong> {{ reclamation.description }}</p>
      <p class="card-text"><strong>Date :</strong> {{ reclamation.date | date: 'dd/MM/yyyy' }}</p>
      <p class="card-text">
        <strong>Status :</strong>
        <span [ngClass]="{'text-warning': reclamation.status === 'PENDING', 'text-success': reclamation.status === 'RESOLVED'}">
          {{ reclamation.status }}
        </span>
      </p>

      <!-- Affichage de la réponse si elle existe -->
      <p *ngIf="reclamation.reponse" class="mt-3">
        <strong>Réponse :</strong> {{ reclamation.reponse }}
      </p>
    </div>
  </div>

  <!-- Formulaire pour modifier la réponse -->
  <div *ngIf="selectedReclamationId !== null" class="mt-4">
    <h3 class="text-primary">Modifier la réponse</h3>
    <textarea [(ngModel)]="newResponse" class="form-control" rows="4" placeholder="Entrez la nouvelle réponse ici..."></textarea>
    <br>
    <p class="mt-3"><strong>Réponse en cours :</strong> {{ newResponse }}</p>
  </div>

  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
