<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div>
    <h2>Hello <span th:text="${username}"></span>,</h2>
    <p>We received a request to reset your password.</p>
    <p>Click the link below to reset your password:</p>
    <p>
        <a th:href="${confirmationUrl}" th:text="${confirmationUrl}">Reset Password</a>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>This link will expire in 24 hours.</p>
    <br>
    <p>Best regards,<br>Your Application Team</p>
</div>
</body>
</html>
